<div class="card-self">
  <div class="card-self-visual">
    <div class="img">
      <img src="../assets/images/image-jeremy.png" alt="logo">
    </div>

    <div class="report-title">Report for</div>
    <div class="report-name">Jeremy Robson</div>

  </div>
  <div class="card-self-links">
    <button class="link-items" (click)="onClick('daily')">Daily</button>
    <button class="link-items" (click)="onClick('weekly')">Weekly</button>
    <button class="link-items" (click)="onClick('monthly')">Monthly</button>
  </div>
</div>
