body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(229, 231, 218);
    background: radial-gradient(circle, rgba(229, 231, 218, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1{
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    color:  #e5e7da;
}
ul{
    list-style: none;
}
button {
    padding: 10px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

