<p>{{activity.title}}</p>

<div class="box-container">
  <div class="box-items">

    <div class="card-self">
      <div class="card-self-visual">
        <div class="img">
          <img src="../assets/images/image-jeremy.png" alt="logo">
        </div>

        <div class="report-title">Report for</div>
        <div class="report-name">Jeremy Robson</div>

      </div>
      <div class="card-self-links">
        <span class="link-items">Daily</span>
        <span class="link-items">Weekly</span>
        <span class="link-items">Monthly</span>
      </div>
    </div>

    <div class="cards">
      <div class="card-items bg-orange">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Work</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">32hrs</div>
          <div class="card-last">last week ...</div>
        </div>
      </div>

      <div class="card-items bg-blue">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Play</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">...</div>
          <div class="card-last">...</div>
        </div>
      </div>

      <div class="card-items bg-study">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Study</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">...</div>
          <div class="card-last">...</div>
        </div>
      </div>

      <div class="card-items bg-exercise">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Exercise</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">...</div>
          <div class="card-last">...</div>
        </div>
      </div>

      <div class="card-items bg-social">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Social</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">...</div>
          <div class="card-last">...</div>
        </div>
      </div>

      <div class="card-items bg-self-care">
        <div class="card-items-body">
          <div class="card-title-box">
            <div class="title">Self care</div>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="card-hrs">...</div>
          <div class="card-last">...</div>
        </div>
      </div>
    </div>

  </div>
  <div class="box-items"></div>
</div>
