<div class="cards">
  <div class="card-items bg-orange">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Work</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs">{{selectActivity[0].period.current }}</div>
      <div class="card-last">{{selectActivity[0].period.previous }}</div>
    </div>
  </div>

  <div class="card-items bg-blue">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Play</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs">{{selectActivity[1].period.current }}</div>
      <div class="card-last">.{{selectActivity[1].period.previous }}</div>
    </div>
  </div>

  <div class="card-items bg-study">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Study</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs">{{selectActivity[2].period.current }}</div>
      <div class="card-last">{{selectActivity[2].period.previous }}</div>
    </div>
  </div>

  <div class="card-items bg-exercise">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Exercise</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs">{{selectActivity[3].period.current }}</div>
      <div class="card-last">{{selectActivity[3].period.previous }}</div>
    </div>
  </div>

  <div class="card-items bg-social">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Social</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs">{{selectActivity[4].period.current }}</div>
      <div class="card-last">{{selectActivity[4].period.previous }}</div>
    </div>
  </div>

  <div class="card-items bg-self-care">
    <div class="card-items-body">
      <div class="card-title-box">
        <div class="title">Self care</div>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="card-hrs" >{{selectActivity[5].period.current }}</div>
      <div class="card-last">{{selectActivity[5].period.previous }}</div>
    </div>
  </div>
</div>
