* {
    margin: 0;

}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#btn {
    font-family: 'Kaushan Script';
    padding: 10px 20px;
    border: 1px solid #000;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    transition: all .4s step-end;
}

#btn:hover{
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #fff;
    border: none;
}